// .app__dropdown-container{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 5px;
//     width: 90px;
//     border-radius: 5px;
//     border: 2px;
//     cursor: pointer;
// }

select{
    padding: 5px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}
